span{
    color: blue;
}

.secound-text{
    color: red;
}
.first-text{
    background-color: aqua;
}

#test{
    color: hotpink;
}

.box1{
    width: 500px;
    height: 400px;
    background-color: magenta;
}


.box2{
    width: 500px;
    height: 400px;
    background-color: magenta;
}


.box1 p{
    color: white;
}

.box2 p{
    color: blue;
}


.box3{
    margin-top: 10px;
    width: 500px;
    height: 400px;
    background-color: magenta;
}

.box3 a .link{
    color: white;
}
